name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GOPRIVATE: "github.com/jeffh/*"

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Configure git for private modules
        env:
          TOKEN: ${{ secrets.GH_PAT }}
        run: git config --global url."https://$TOKEN@github.com".insteadOf "https://github.com"

      - name: Download modules
        run: go mod download

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./...
